<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1>Lista de hospitais cadastrados</h1>
<table>
				<thead>
					<tr>
						<th>Nome</th>
						<th>Cnpj</th>
						<th>Endereço</th>
						<th>Inscrição estadual</th>
						<th>Telefone</th>
						<th colspan="2"></th>
					</tr>
				</thead>
				<tbody>
					<th:block th:each="hospital: ${hospitais}">
						<tr>
							<td th:text="${hospital.nome}"></td>
							<td th:text="${hospital.cnpj}"></td>
							<td th:text="${hospital.endereco}"></td>
							<td th:text="${hospital.inscricaoEstadual}"></td>
							<td th:text="${hospital.telefone}"></td>
							<td>
								<form th:action="@{/loginAdmin/editarHospital}" method="post">
									<input type="hidden" name="codigo" th:value="${hospital.codigo}">
									<input type="submit" value="Edit">
								</form>
							</td>
							<td>
								<form th:action="@{/loginAdmin/excluirHospital}" method="post">
									<input type="hidden" name="codigo" th:value="${hospital.codigo}">
									<input type="submit" value="Destroy">
								</form>
							</td>
						</tr>
					</th:block>
				</tbody>
</table>
<h2>Cadastrar novo hospital</h2>
	<div th:if="${msg != null}" th:text="${msg}"></div>
<!-- 	<th:block th:if="${hospitalEditavel == null}"> -->
	<form action="/loginAdmin/cadastrarHospital" method="post">
		<label for="nome">Nome:</label>
		<input type="text" name="nome" id="nome"><br>
		<label for="cnpj">CNPJ:</label>
		<input type="text" name="cnpj" id="cnpj"><br>
		<label for="endereco">Endereço:</label>
		<input type="text" name="endereco" id="endereco"><br>
		<label for="inscricaoEstadual">Inscrição estadual:</label>
		<input type="text" name = "inscricaoEstadual" id="inscricaoEstadual"><br>
		<label for="telefone">Telefone:</label>
		<input type="text" name = "telefone" id="telefone"><br>
		<button type="submit">Adicionar</button>
	</form>
<!-- 	</th:block> -->
	<th:block th:if="${hospitalEditavel != null}">
	<h2>Editar hospital <span th:text="${hospitalEditavel.nome}"></span></h2>
	<form action="/loginAdmin/cadastrarHospital" method="post">
		<input type="hidden" name="codigo" th:value="${hospitalEditavel.codigo}">
		<label for="nome">Nome:</label>
		<input type="text" name="nome" id="nome" th:value="${hospitalEditavel.nome}"><br>
		<label for="cnpj">CNPJ:</label>
		<input type="text" name="cnpj" id="cnpj" th:value="${hospitalEditavel.cnpj}"><br>
		<label for="endereco">Endereço:</label>
		<input type="text" name="endereco" id="endereco" th:value="${hospitalEditavel.endereco}"><br>
		<label for="inscricaoEstadual">Inscrição estadual:</label>
		<input type="text" name = "inscricaoEstadual" id="inscricaoEstadual" th:value="${hospitalEditavel.inscricaoEstadual}"><br>
		<label for="telefone">Telefone:</label>
		<input type="text" name = "telefone" id="telefone" th:value="${hospitalEditavel.telefone}"><br>
		<button type="submit">Editar</button>
	</form>
	</th:block>
	<h1>Lista de pacientes cadastrados</h1>
	<th:block th:each="paciente: ${pacientes}">
		<p>Nome: <span th:text="${paciente.nome}"></span> Código: <span th:text="${paciente.codigo}"></span></p>
	</th:block>
	<h2>Cadastrar novo paciente</h2>
	<div th:if="${msg2 != null}" th:text="${msg2}"></div>
	<form action="/loginAdmin/cadastrarPaciente" method="post">
		<label for="nome">Nome:</label>
		<input type="text" name="nome" id="nome"><br>
		<label for="rg">RG:</label>
		<input type="text" name="rg" id="rg"><br>
		<label for="endereco">Endereço:</label>
		<input type="text" name="endereco" id="endereco"><br>
		<label for="contato">Nome do contato:</label>
		<input type="text" name = "contato" id="contato"><br>
		<label for="orgao">Órgão:</label>
		<input type="text" name = "orgao" id="orgao"><br>
		<label for="nomeMae">Nome da mãe:</label>
		<input type="text" name="nomeMae" id="nomeMae"><br>
		<label for="telefone">Telefone:</label>
		<input type="text" name="telefone" id="telefone"><br>
		<label for="nascimento">Data de nascimento</label>
		<input type="date" name = "nascimento" id="nascimento"/><br>
		<label for="transplante">Data do transplante</label>
		<input type="date" name = "transplante" id="transplante"/><br>
		
		<div>
			Gênero
			<select name="genero">
				<option value="Masculino">Masculino</option>
				<option value="Feminino">Feminino</option>
				<option value="Outros">Outros</option>
			</select>
		</div>
		<button type="submit">Adicionar</button>
	</form>
</body>
</html>