<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Insert title here</title>
</head>
<body>
<h1>Editar capsuleControl</h1>
	<form action="/loginMedico/monitoramento/cadastrarCapsuleControl/confirm" method="post">
		<input type="hidden" name="codigo" th:value="${capsuleControl.codigo}">
		<label for="remedio">Medicamento:</label>
		<input type="text" name="remedio" id="remedio" th:value="${capsuleControl.remedio}"><br>
		<label for="dose">Dosagem:</label>
		<input type="text" name="dose" id="dose" th:value="${capsuleControl.dose}"><br>
		<input type="submit" value="Enviar">
	</form>
</body>
</html>