<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Insert title here</title>
</head>
<body>
<h1>Página do médico logado</h1>
<p>Bem vindo, dr. <span th:text="${medico.nome}"></span>!</p>
<h2>Lista dos seus pacientes</h2>
<th:block th:each="paciente: ${pacientesMedico}">
<form th:action="@{'/loginMedico/paciente/' + ${paciente.codigo}}" method="post">
<!-- 	<p th:text="${paciente.nome}"></p> -->
	<input type="submit" th:value="${paciente.nome}">
</form>
</th:block>
</body>
</html>