<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>CapsuleDev site</title>
	<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
	<link th:href="@{/webjars/font-awesome/css/font-awesome.min.css}" rel="stylesheet"/>
	<link th:href="@{/css/main.css}" rel="stylesheet" />
</head>
<body>
<header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand">CapsuleDev site</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a href="/" class="nav-link text-dark">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark">Home21</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
<div class="container">
<main role="main" class="pb-3">
<div class="row">
<div class="col-sm-4">
<h1>Login paciente</h1>

	<form action="loginPaciente" method="post">
		<label for="codigo">Código:</label>
		<input type="number" name = "codigo" id="codigo"><br>
		<label for="email">Email:</label>
		<input type="text" name = "email" id="email" placeholder="Digite o email"><br>
		<label for="pwd">Senha:</label>
		<input type="password" id="pwd" name = "senha"><br><br>
		<input type="submit">
	</form>
</div>
<div class="col-sm-4">
<h1>Login médico</h1>

	<form action="loginMedico" method="post">
		<label for="codigo">Código:</label>
		<input type="number" name = "codigo" id="codigo"><br>
		<label for="email">Email:</label>
		<input type="text" name = "email" id="email" placeholder="Digite o email"><br>
		<label for="pwd">Senha:</label>
		<input type="password" id="pwd" name = "senha"><br><br>
		<input type="submit">
	</form>
</div>
<div class="col-sm-4">

</div>
</div>
	</main>
	</div>
	<footer class="border-top footer text-muted">
        <div class="container">
        	<div class="row">
           <p>Capsule Dev &copy; 2020</p>
           <a href="/loginAdministrador" class="ml-auto">Administrador</a>
           </div>
        </div>
    </footer>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>