<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Insert title here</title>
</head>
<body>
<h1>Login paciente</h1>

	<form action="loginPaciente" method="post">
		<label for="codigo">Código:</label>
		<input type="number" name = "codigo" id="codigo"><br>
		<label for="email">Email:</label>
		<input type="text" name = "email" id="email" placeholder="Digite o email"><br>
		<label for="pwd">Senha:</label>
		<input type="password" id="pwd" name = "senha"><br><br>
		<input type="submit">
	</form>
<h1>Login médico</h1>

	<form action="loginMedico" method="post">
		<label for="codigo">Código:</label>
		<input type="number" name = "codigo" id="codigo"><br>
		<label for="email">Email:</label>
		<input type="text" name = "email" id="email" placeholder="Digite o email"><br>
		<label for="pwd">Senha:</label>
		<input type="password" id="pwd" name = "senha"><br><br>
		<input type="submit">
	</form>
<h1>Login admin</h1>

	<form action="loginAdmin" method="post">
		<label for="codigo">Código:</label>
		<input type="number" name = "codigo" id="codigo"><br>
		<label for="email">Email:</label>
		<input type="text" name = "email" id="email" placeholder="Digite o email"><br>
		<label for="pwd">Senha:</label>
		<input type="password" id="pwd" name = "senha"><br><br>
		<input type="submit">
	</form>
</body>
</html>